.container{
    
   border: 2px solid rgb(180, 58, 58);
}
.row{
   
    
    border: 2px solid black;
}
.col-1, .col-,.col-3 ,.col-4, .col-5, .col-6, .col-7, .col-8, .col-9{
   
   background-color: rgb(63, 139, 0);
    border: 2px solid rgba(0, 0, 0, 0.315);
}
.box{
    height: 200px
    ;
    width: 425px;
}